:root {
    --navBarColor: #141415;
}

.searchColor {
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: #f2f2f2;
    color: #333333;
    font-size: 16px;
    backdrop-filter: blur(7px);


}

.logo {
    background-image: url("../../../public/096a86790e1d4ee79148cc6d7e51781e.png");
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    background-color: red;

}

.navBarStyle {
    background-color: rgba(0, 0, 0, 0.368);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);

}


.searchColor:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}