@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

:root {
    --main-color: #e58e27;
    --light-color: #9a9a9a;
    --dark-color: #161a1e;
    --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
    --font-family: 'Encode Sans Expanded', sans-serif;
    --background-color: #ffffff;
    --text-color: #000000;
    --button-background-color: #007bff;
    --button-text-color: #ffffff;
}




/* Dark mode */
.dark-mode {
    --background-color: #222222;
    --text-color: #ffffff;
    --button-background-color: #ffffff;
    --button-text-color: #000000;
}





.text-main {
    color: #e58e27;
}

.text-light {
    color: #9a9a9a;
}

.dark {
    color: #161a1e;
}


body {
    margin: 0;
    font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background: #ffffff;
    font-size: 24px;
}

.app {
    background: #a8d5e5;
    border-radius: 30px;
}



.menu1 {
    margin-bottom: 40px;
    margin-top: 20px;
}


#root {
    /* background-image: url("../public/empty-dark-room-modern-futuristic-sci-fi-background-3d-illustration.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100%; */
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

p {

    font-size: 20px;
    font-weight: 200;
    color: #fff;

}

/* Light mode styles */
.light-mode {
    background-color: #f5f5f5;
    color: #333;
}

/* Dark mode styles */
.dark-mode {
    background-color: #333;
    color: #f5f5f5;
}

.dark-mode-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.dark-mode-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.dark-mode-toggle .toggle-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 34px;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dark-mode-toggle .toggle-track:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.dark-mode-toggle input:checked+.toggle-track {
    background-color: #2196f3;
}

.dark-mode-toggle input:checked+.toggle-track:before {
    transform: translateX(26px);
}


button {
    color: #fff !important;
    background-color: #00000085 !important;
}




button:hover {
    color: #fff !important;
    background-color: #c22727 !important;
}


.Network {
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(7px);
    left: 0;
    top: 100px;
}