.Layout {
  background-image: url("../../../public/empty-dark-room-modern-futuristic-sci-fi-background-3d-illustration.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Set the opacity value here */
}