.mainSlide {
  width: 100%;
  overflow: hidden;

  border-radius: 20px;


}

.slideImage {
  width: 100%;

  object-fit: fill;
  border-radius: 20px;
}

.info {
  padding-left: 10%;
  width: 100%;
  color: #fff;
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(7px);
}

h2 {

  font-size: 40px;
  margin-bottom: 10px;
  padding-left: 0;
  text-align: start;
}

.carousel {
  text-align: center;
}

.legend {
  top: 0;
  left: 10 !important;
  height: 5vh;
  width: auto !important;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px !important;
}

.Addbtn {
  color: #fff;
  background-color: #00000085;
}

.Addbtn:hover {
  color: #fff;
  background-color: #c22727;
}

.smallImage {
  width: 50%;
  margin: 5px;
  border-radius: 10px;
}